.controls {
  display: flex;

  justify-content: space-around;
}

table {
  text-align: center;
  margin: 0 auto;
}
th,
td {
  margin: 5px;
  border: 1px solid black;
  border-collapse: collapse;
}
form {
  border: 2px solid rgb(71, 3, 3);
  width: 100%;
}

form > div {
  display: flex;
  flex-direction: row;

  width: 35%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 30px;
}
form > div > div {
  display: flex;
  flex-direction: row;
  margin: 5px;


  margin: 0 auto;
}
